@font-face {
	src: url(https://people.ucsc.edu/~erjihu/BreakThrough/assets/fonts/BreakThrough-Regular.ttf) format('truetype');
	font-family: Breakthrough;
}

/* body, html {
  height: 100%;
} */

.important-text
{
	font-family: Breakthrough;
	font-size: 50px;
	line-height: 80px;
}

.poster-box
{
	position: relative;
	text-align: center;
	width: 100%;
}

.parallax
{
	background-image: url(D:/Documents/GitHub/BreakThrough/Website/images/poster.png);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.title-video
{
	position: absolute;
	align-items: center;
	width: 80%;
	height: 80%;
	padding-right: 15px;
	padding-left: 15px;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.project-box
{
	position: relative;
	text-align: center;
	width: 100%;
}

.project-text
{
	font-size: 24px;
	line-height: 40px;
}

.team-box
{
	position: relative;
	text-align: center;
	width: 100%;
}

.team-member
{
	margin-bottom: 50px;
	text-align: center;
}

.team-member img
{
	width: 250px;
	height: 250px;
}

footer
{
	text-align: center;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
